
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'WebSite/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'WebSite/playerstats_generic.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'WebSite/globalv2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'WebSite/game_achievements.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <title>Halo Achievements</title>
    </head>
    <style>
    </style>
    <body>
        <div class="container" id="top">
            <div class="achievementsP1">
                <h1>Succès de Strapontin</h1>
                {% for i in achievements_p1 %}
                    {{ i | safe }}
                {% endfor %}
            </div>
            <div class="achievementsP2">
                <h1>Succès de SevenUp</h1>
                {% for i in achievements_p2 %}
                    {{ i | safe }}
                {% endfor %}
            </div>
        </div>
        <div id="globalAchievements">
            <h1>Succès restants pour les deux joueurs</h1>
            {% for i in global_achievements %}
                {{ i | safe }}
            {% endfor %}
        </div>

        <!--Floating buttons to go back to top or to the global achievements-->
        <a href="#top" class="floatTop">🡑</a>
        <a href="#globalAchievements" class="floatBottom">🡓</a>
    </body>
</html>